<section class="events-section">
    <div class="events-content">
        <div class="two-column-section">
          <p>Speaking Events</p>
                <div class="blog-events">
                    <p class="event-heading">NY Economics Forum</p>
                    <p class="event-location">New York, NY</p>
                    <p class="event-date">February 12, 2025</p>
                    <p class="event-heading">Emerging Tech Meet-Up</p>
                    <p class="event-location">San Francisco, CA</p>
                    <p class="event-date">June 24, 2025</p>
                    <p class="event-heading">Creative Code Meetup</p>
                    <p class="event-location">Denver, CO</p>
                    <p class="event-date">November 19, 2025</p>
                </div>
        </div>
    </div>
</section>